/* ----------------------------------------- */
/*  All Kryx RPG Apps                           */
/* ----------------------------------------- */
.tormenta20 .tabbed {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.tormenta20 .tabbed .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.tormenta20 .tabbed input[type="number"]
.tormenta20 .tabbed input[type="text"],
.tormenta20 .tabbed select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.tormenta20 .tabbed input[type="text"]:hover,
.tormenta20 .tabbed input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
/*.tormenta20 .tabbed input[type="number"] {
  width: calc(100% - 2px);
  min-width: 20px;
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  margin-right: 15px;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}*/
.tormenta20 .tabbed input[type="number"]:hover,
.tormenta20 .tabbed input[type="number"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.tormenta20 .tabbed input:disabled,
.tormenta20 .tabbed select:disabled,
.tormenta20 .tabbed textarea:disabled {
  color: #4b4a44;
}
.tormenta20 .tabbed input:disabled:hover,
.tormenta20 .tabbed select:disabled:hover,
.tormenta20 .tabbed textarea:disabled:hover,
.tormenta20 .tabbed input:disabled:focus,
.tormenta20 .tabbed select:disabled:focus,
.tormenta20 .tabbed textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.tormenta20 .tabbed button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.tormenta20 .tabbed label.checkbox {
  flex: auto;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  text-align: right;
}
.tormenta20 .tabbed label.checkbox input[type="checkbox"] {
  margin: 0 5px 0;
  position: relative;
  top: 5px;
}
.tormenta20 .tabbed .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.tormenta20 .tabbed .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tormenta20 .tabbed .form-group .form-fields > * {
  flex: 1;
}
.tormenta20 .tabbed .form-group .form-fields .flex1 {
  flex: 1;
}
.tormenta20 .tabbed .form-group .form-fields .flex2 {
  flex: 2;
}
.tormenta20 .tabbed .form-group .form-fields .flex3 {
  flex: 3;
}
.tormenta20 .tabbed .form-group .form-fields .flex4 {
  flex: 4;
}
.tormenta20 .tabbed .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.tormenta20 .tabbed .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.tormenta20 .tabbed .form-group .form-fields > input[data-dtype="Number"] {
  flex: 0.35;
}
.tormenta20 .tabbed .form-group .form-fields label.checkbox {
  text-align: right;
}
.tormenta20 .tabbed .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.tormenta20 .tabbed .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.tormenta20 .tabbed .form-header {
  margin: 0 0 0.25em 0;
  padding: 0 2px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 24px;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}
.tormenta20 .tabbed .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.tormenta20 .tabbed.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.tormenta20 .tabbed.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.tormenta20 .tabbed.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.tormenta20 .tabbed.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.tormenta20 .tabbed.sheet input[type="text"] {
  background: none;
  border: 1px solid transparent;
}
.tormenta20 .tabbed.sheet input[type="text"]:hover,
.tormenta20 .tabbed.sheet input[type="text"]:focus {
  border: 1px solid #111;
}
.tormenta20 .tabbed.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.tormenta20 .tabbed.sheet .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.tormenta20 .tabbed span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.tormenta20 .tabbed.sheet .editor {
  height: 100%;
}
.tormenta20 .tabbed.sheet .editor .tox-toolbar-overlord,
.tormenta20 .tabbed.sheet .editor .tox-toolbar__primary {
  background: none;
}
.tormenta20 .tabbed.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.tormenta20 .tabbed.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.tormenta20 .tabbed.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.tormenta20 .tabbed.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: none;
  border-right: 2px groove #eeede0;
}
.tormenta20 .tabbed.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.tormenta20 .tabbed.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.tormenta20 .tabbed.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.tormenta20 .tabbed.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
}
.tormenta20 .tabbed.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 10px;
  border-bottom: 3px solid #b5b3a4;
}
.tormenta20 .tabbed.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.tormenta20 .tabbed.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.tormenta20 .tabbed.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.tormenta20 .tabbed.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.tormenta20 .tabbed.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.tormenta20 .tabbed.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.tormenta20 .tabbed.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.tormenta20 .tabbed.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.tormenta20 .tabbed.sheet .traits {
  margin: 5px 0 0;
}
.tormenta20 .tabbed.sheet .traits .trait-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.tormenta20 .tabbed.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores and Saving Throws         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Resting                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* ----------------------------------------- */
  /*  Arsenal                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
}
.tormenta20 .tabbed .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.tormenta20 .tabbed .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.tormenta20 .tabbed .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.tormenta20 .tabbed .sheet-header .header-exp {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.tormenta20 .tabbed .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.tormenta20 .tabbed .sheet-header .summary input,
.tormenta20 .tabbed .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.tormenta20 .tabbed .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.tormenta20 .tabbed .attributes input.temphealth {
  width: 48%;
}
.tormenta20 .tabbed h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 3px 2px;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .tab.attributes {
  overflow: hidden;
}
.tormenta20 .tabbed ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  text-align: center;
}
.tormenta20 .tabbed ul.attributes li.attribute:last-child {
  margin: 0;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value > * {
  font-size: 24px;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 12px;
}
.tormenta20 .tabbed .ability-scores {
  flex: 0 0 85px;
  height: 460px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;
  text-transform: uppercase;
}
.tormenta20 .tabbed .ability-scores .ability {
  height: 50px;
  text-align: center;
  border-bottom: none;

}
.tormenta20 .tabbed .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -1px;
}
.tormenta20 .tabbed .ability-scores .ability input.ability-value {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.tormenta20 .tabbed .ability-scores .ability .below-abilities {
  height: 24px;
  width: max-content;
  margin: -8px 0 0;
  display: inline-flex;
}

.tormenta20 .tabbed .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.tormenta20 .tabbed .proficient .proficiency-toggle {
  color: #4b4a44;
}
.tormenta20 .tabbed .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.tormenta20 .tabbed ul.skills-list {
  flex: 0 0 300px;
  height: auto;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.tormenta20 .tabbed ul.skills-list li.skill {
  height: 21.5px;
  padding: 3px 2px;
}
.tormenta20 .tabbed ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.tormenta20 .tabbed ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.tormenta20 .tabbed ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.tormenta20 .tabbed ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
}
.tormenta20 .tabbed ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
  text-align: right;
}
.tormenta20 .tabbed ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: right;
  color: #7a7971;
}
.tormenta20 .tabbed .counters {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.tormenta20 .tabbed .counters .counter {
  height: 20px;
  line-height: 20px;
}
.tormenta20 .tabbed .counters .counter h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.tormenta20 .tabbed .counters .counter .counter-value {
  flex: none;
  text-align: right;
}
.tormenta20 .tabbed .counters .counter .counter-value > * {
  display: inline;
}
.tormenta20 .tabbed .counters .counter .minor-counter-value {
  flex: 1;
  text-align: left;
}
.tormenta20 .tabbed .counters .counter .minor-counter-value > * {
  display: inline;
}
.tormenta20 .tabbed .counters .counter input[type="text"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.tormenta20 .tabbed .counters .counter input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 4px;
}
.tormenta20 .tabbed .counters .counter span.sep {
  font-size: 12px;
}
.tormenta20 .tabbed .restingRow {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.tormenta20 .tabbed .restingRow .health-dice {
  flex: 1.5;
}
.tormenta20 .tabbed .restingRow .second-wind.unavailable {
  color: #7a7971;
}
.tormenta20 .tabbed .restingRow .second-wind.available:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.tormenta20 .tabbed .restingRow h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.tormenta20 .tabbed .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.tormenta20 .tabbed .traits .form-group,
.tormenta20 .tabbed .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.tormenta20 .tabbed .traits .configure-flags {
  flex: 1;
}
.tormenta20 .tabbed .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.tormenta20 .tabbed .traits select {
  max-width: 200px;
}
.tormenta20 .tabbed .traits input {
  text-align: right;
}
.tormenta20 .tabbed .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.tormenta20 .tabbed .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.tormenta20 .tabbed .traits .inactive {
  color: #7a7971;
}
.tormenta20 .tabbed .tab.features,
.tormenta20 .tabbed .tab.inventory,
.tormenta20 .tabbed .tab.arsenal {
  overflow-y: hidden;
}
.tormenta20 .tabbed .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.tormenta20 .tabbed .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.tormenta20 .tabbed .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.tormenta20 .tabbed .inventory-filters .currency input[type="text"] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.tormenta20 .tabbed .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.tormenta20 .tabbed .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .inventory-list .item:last-child {
  border-bottom: none;
}
.tormenta20 .tabbed .inventory-list .item .item-name {
  cursor: pointer;
  max-height: 30px;
  overflow: hidden;
}
.tormenta20 .tabbed .inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.tormenta20 .tabbed .inventory-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tormenta20 .tabbed .inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.tormenta20 .tabbed .inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.tormenta20 .tabbed .inventory-list .item .item-name i.attuned {
  color: #7a7971;
}
.tormenta20 .tabbed .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.tormenta20 .tabbed .inventory-list .item .item-feature-type {
  width: 100px;
}
.tormenta20 .tabbed .inventory-list .item .feature-activated {
  flex: 0.05;
  text-align: center;
}
.tormenta20 .tabbed .inventory-list .item .item-properties {
  margin-top: 3px;
}
.tormenta20 .tabbed .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  color: #7a7971;
  white-space: nowrap;
}
.tormenta20 .tabbed .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.tormenta20 .tabbed .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-size: 13px;
  font-weight: bold;
}
.tormenta20 .tabbed .inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.tormenta20 .tabbed .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.tormenta20 .tabbed .inventory-list .item-detail:last-child {
  border-right: none;
}
.tormenta20 .tabbed .inventory-list .item-detail.item-action {
  flex: 0 0 100px;
}
.tormenta20 .tabbed .inventory-list .item-feature-type {
  flex: 0 0 100px;
}
.tormenta20 .tabbed .inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed .inventory-list .item-controls {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.tormenta20 .tabbed .inventory-list .item-controls > * {
  flex: 1;
}
.tormenta20 .tabbed .inventory-list .item-controls .flex1 {
  flex: 1;
}
.tormenta20 .tabbed .inventory-list .item-controls .flex2 {
  flex: 2;
}
.tormenta20 .tabbed .inventory-list .item-controls .flex3 {
  flex: 3;
}
.tormenta20 .tabbed .inventory-list .item-controls .flex4 {
  flex: 4;
}
.tormenta20 .tabbed .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.tormenta20 .tabbed .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .spellcasting-ability {
  flex: 0 0 240px;
  margin: 0;
}
.tormenta20 .tabbed .spellcasting-ability input,
.tormenta20 .tabbed .spellcasting-ability span {
  flex: 0 0 32px;
  text-align: center;
}
.tormenta20 .tabbed .spellcasting-ability select {
  margin: 0 5px;
  flex: 0 0 150px;
}
.tormenta20 .tabbed .spellcasting-ability h3.spell-dc {
  flex: 1;
  text-align: right;
}
.tormenta20 .tabbed .spell-slots,
.tormenta20 .tabbed .spell-comps {
  flex: 0 0 72px;
  max-width: max-content;
  padding-right: 5px;
  text-align: right;
  font-size: 12px;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .spell-slots input {
  display: inline;
  max-width: 20px;
}
.tormenta20 .tabbed .spell-slots .sep {
  font-size: 13px;
  font-weight: normal;
}
.tormenta20 .tabbed .spell-uses {
  padding-right: 8px;
  text-align: right !important;
}
.tormenta20 .tabbed .superpower-cost,
.tormenta20 .tabbed .superpower-theme,
.tormenta20 .tabbed .superpower-action,
.tormenta20 .tabbed .superpower-target {
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .superpower-cost {
  flex: 0 0 50px;
}
.tormenta20 .tabbed .superpower-theme {
  flex: 0 0 65px;
}
.tormenta20 .tabbed .superpower-action {
  flex: 0 0 90px;
}
.tormenta20 .tabbed .superpower-target {
  flex: 0 0 140px;
}
.tormenta20 .tabbed .spell-component {
  line-height: 14px;
}
.tormenta20 .tabbed .spell-component.C,
.tormenta20 .tabbed .spell-component.U,
.tormenta20 .tabbed .spell-component.R {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  width: 16px;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
}
.tormenta20 .tabbed .arsenal-empty .item-controls {
  flex: 1;
}
.tormenta20 .tabbed .editor {
  padding: 0 8px;
}
.tormenta20 .tabbed.sheet.item {
  min-height: 420px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.tormenta20 .tabbed.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.tormenta20 .tabbed.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 80px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.tormenta20 .tabbed.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.tormenta20 .tabbed.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.tormenta20 .tabbed.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.tormenta20 .tabbed.sheet.item .sheet-navigation .item {
  font-size: 18px;
}
.tormenta20 .tabbed.sheet.item .sheet-body {
  overflow: hidden;
}
.tormenta20 .tabbed.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.tormenta20 .tabbed.sheet.item .details input[type="text"],
.tormenta20 .tabbed.sheet.item .details select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.tormenta20 .tabbed.sheet.item .details .form-group span {
  text-align: center;
  line-height: 24px;
}
.tormenta20 .tabbed.sheet.item .details .form-group.input-select select {
  flex: 1.8;
}
.tormenta20 .tabbed.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.tormenta20 .tabbed.sheet.item .details .form-group.input-select-select select.flex066 {
  flex: 0.66;
}
.tormenta20 .tabbed.sheet.item .details .form-group.uses-per input {
  flex: 1;
}
.tormenta20 .tabbed.sheet.item .details .form-group.uses-per span {
  flex: 0 0 16px;
}
.tormenta20 .tabbed.sheet.item .details .form-group.uses-per select {
  flex: 3;
}
.tormenta20 .tabbed.sheet.item .details span.sep {
  flex: 0 0 8px;
}
.tormenta20 .tabbed.sheet.item .details .prepared {
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}
.tormenta20 .tabbed.sheet.item .details .spell-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.tormenta20 .tabbed.sheet.item .details .spell-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}
.tormenta20 .tabbed.sheet.item .details .spell-materials input[type="text"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.tormenta20 .tabbed.sheet.item h4.damage-effect-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.tormenta20 .tabbed.sheet.item .damage-effect-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed.sheet.item .damage-effect-parts .damage-effect-part {
  flex: 0 0 100%;
  padding: 0;
}
.tormenta20 .tabbed.sheet.item .damage-effect-parts .damage-effect-part input {
  flex: 3;
}
.tormenta20 .tabbed.sheet.item .damage-effect-parts .damage-effect-part select {
  margin-left: 5px;
  flex: 1;
}
.tormenta20 .tabbed.sheet.item .damage-control,
.tormenta20 .tabbed.sheet.item .additional-effect-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.tormenta20 .tabbed.sheet.item .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}
.tormenta20 .tabbed.sheet.item .recharge.form-group input[type="text"] {
  flex: 0 0 32px;
  text-align: center;
}
.tormenta20 .tabbed.sheet.item .recharge.form-group label.checkbox {
  flex: none;
}
.tormenta20 .tabbed.sheet.item .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}
.tormenta20 .tabbed.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 98px;
}
.tormenta20 .tabbed.sheet.item .loot-header {
  margin-bottom: 10px;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.tormenta20 .tabbed.chat-card {
  font-style: normal;
  font-size: 12px;
}
.tormenta20 .tabbed.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.tormenta20 .tabbed.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.tormenta20 .tabbed.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  color: #4b4a44;
}
.tormenta20 .tabbed.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.tormenta20 .tabbed.chat-card .card-content {
  margin: 5px 0;
}
.tormenta20 .tabbed.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.tormenta20 .tabbed.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.tormenta20 .tabbed.chat-card .card-effects {
  margin: 5px 0;
}
.tormenta20 .tabbed.chat-card .card-buttons {
  margin: 5px 0;
}
.tormenta20 .tabbed.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.tormenta20 .tabbed.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.tormenta20 .tabbed.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.tormenta20 .tabbed.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 10px;
}
.tormenta20 .tabbed.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.tormenta20 .tabbed.character {
  min-width: 720px;
  min-height: 700px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  /* Encumbrance Bar */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
}
.tormenta20 .tabbed.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.tormenta20 .tabbed.character .sheet-header .charlevel {
  flex: 0 0 20px;
  height: 20px;
  font-size: 18px;
  color: #7a7971;
}
.tormenta20 .tabbed.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.tormenta20 .tabbed.character .sheet-header .experience span.max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.tormenta20 .tabbed.character .sheet-header .expbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.tormenta20 .tabbed.character .sheet-header .expbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.tormenta20 .tabbed.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  margin: 0 3px;
}
.tormenta20 .tabbed.character .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}
.tormenta20 .tabbed.character .sheet-header .summary .proficiency {
  text-align: right;
  padding-right: 5px;
}
.tormenta20 .tabbed.character .resource .attribute-value input {
  flex: 0 0 25%;
}
.tormenta20 .tabbed.character .resource .attribute-value label.recharge {
  height: 32px;
  position: relative;
  font-size: 13px;
  text-align: center;
  color: #4b4a44;
}
.tormenta20 .tabbed.character .resource .attribute-value label.recharge input[type="checkbox"] {
  height: 14px;
  width: 14px;
  margin: 0;
  top: -6px;
}
.tormenta20 .tabbed.character ul.skills-list {
  flex: 0 0 212px;
}
.tormenta20 .tabbed.character ul.skills-list li.skill {
  padding: 3px;
}
.tormenta20 .tabbed.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.tormenta20 .tabbed.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.tormenta20 .tabbed.character .encumbrance {
  flex: 0 0 12px;
  background: #7a7971;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}
.tormenta20 .tabbed.character .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #6c8aa5;
  height: 8px;
  border: 1px solid #cde4ff;
  border-radius: 2px;
}
.tormenta20 .tabbed.character .encumbrance .encumbrance-label {
  height: 10px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 12px;
  text-align: right;
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.tormenta20 .tabbed.character .encumbrance .encumbrance-breakpoint {
  display: block;
  position: absolute;
}
.tormenta20 .tabbed.character .encumbrance .encumbrance-breakpoint.encumbrance-33 {
  left: 33%;
}
.tormenta20 .tabbed.character .encumbrance .encumbrance-breakpoint.encumbrance-66 {
  left: 66%;
}
.tormenta20 .tabbed.character .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.tormenta20 .tabbed.character .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.tormenta20 .tabbed.character .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.tormenta20 .tabbed.character .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.tormenta20 .tabbed.character .inventory .item-controls,
.tormenta20 .tabbed.character .arsenal .item-controls {
  flex: 0 0 68px;
}
.tormenta20 .tabbed.character .inventory .item-controls .item-toggle,
.tormenta20 .tabbed.character .arsenal .item-controls .item-toggle {
  color: #b5b3a4;
}
.tormenta20 .tabbed.character .inventory .item-controls .item-toggle.active,
.tormenta20 .tabbed.character .arsenal .item-controls .item-toggle.active {
  color: #4b4a44;
}
.tormenta20 .tabbed.character .inventory .item-controls .item-toggle.fixed,
.tormenta20 .tabbed.character .arsenal .item-controls .item-toggle.fixed {
  color: #44191A;
}
.tormenta20 .tabbed.character .inventory .item-controls .item-toggle.fixed:hover,
.tormenta20 .tabbed.character .arsenal .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.tormenta20 .tabbed.character .features .item-toggle {
  color: #b5b3a4;
}
.tormenta20 .tabbed.character .features .item-toggle.active {
  color: #4b4a44;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.tormenta20 .tabbed.npc {
  min-width: 600px;
  min-height: 700px;
}
.tormenta20 .tabbed.npc .header-exp {
  flex: 0 0 80px;
  justify-content: center;
}
.tormenta20 .tabbed.npc .header-exp .cr {
  flex: 0 0 32px;
  line-height: 28px;
  margin-bottom: -5px;
  font-size: 24px;
}
.tormenta20 .tabbed.npc .header-exp .cr input {
  width: 32px;
  padding: 0;
  text-align: center;
}
.tormenta20 .tabbed.npc .header-exp .experience {
  flex: 0 0 18px;
  color: #7a7971;
  font-size: 16px;
}
.tormenta20 .tabbed.npc .summary {
  font-size: 18px;
}
.tormenta20 .tabbed.npc .sheet-header .summary .num-of-actions {
  text-align: right;
  padding-right: 5px;
}
.tormenta20 .tabbed.npc .spellcasting-ability label {
  flex: none;
}
