@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

/** Edits by Ultra_Kev **/
.border {
  border-image-source: url(../assets/border.svg);
  border-image-slice: 0 40 0 40;
}

.tormenta20 .item-control.toggle-armor.active {
  /*color: #171f69; */
  /*color: #1d2890;*/
}

.tormenta20 .header-exp {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}

.tormenta20 .xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.tormenta20 .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}


.window-app .window-content {
  /*background: url(../assets/parchment.jpg) repeat !important;*/
  /*color: #2f290c !important;*/
}

.window-app.minimized .window-header{
  border:none;
}

#sidebar {
  color: #ffffff !important;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

table,
.tormenta20 ol,
.tormenta20 .resource,
.tormenta20 .header-fields,
.tormenta20 .atributos li.item.flexrow,
.tormenta20 textarea,
.tormenta20 textarea:focus {
/*  border-style: solid;
  border-color: none !important;
  border-width: 9px;
  border-image: url(../assets/border.svg) 4 4 4 4 fill repeat;
  border-collapse: inherit !important;*/
  background-color: rgba(0, 0, 0, 0.05);
}
/*
.tormenta20 .atributos li.itematrib.flexrow{
  border-style: dashed;
  border-color: none !important;
  border-width: 9px;
  border-image: url(../assets/border.svg) 4 4 4 4 fill repeat;
  border-collapse: inherit !important;
  background-color: rgba(0, 0, 0, 0.05);
}*/

.tormenta20 h1,
.tormenta20 h2,
.outros h4 {
  border-image: url(../assets/underline.svg) 2;
  border-bottom: 5px solid transparent;
  padding-left: 5px;
}

.app {
  max-height: 100%;
  background: url(../assets/side-bar.png) repeat;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  margin: 3px 0;
  /*padding: 0.5em;*/
  color: #c74b37 !important;
  z-index: 30;
}

button {
  color: #2f290c;
}

#sidebar button {
  color: #fff;
  /*#f18c17;*/
}

#combat #combat-controls button.scene-segment {
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

#combat #combat-controls button.scene-segment:hover,
#combat #combat-controls button.scene-segment:focus {
  /* filter: invert(26%) sepia(98%) saturate(7028%) hue-rotate(357deg) brightness(98%) contrast(117%); */
  filter: drop-shadow( 0px 0px 0px rgba(255, 0, 0, 1));
  box-shadow: none;
  cursor: pointer;
}

#combat #combat-controls .scene-segment img {
  border-color: transparent;
}

button {
  width: 100%;
  margin: 0 1px;
  background: #0d0d0d;
  border: 1px solid #782e22;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
}

#sidebar {
  border: 1px solid #782e22;
}

/** End Ultra_Kev **/

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to tormenta20 sheets */
.tormenta20 .item-form {
  font-family: "Roboto", sans-serif;
}

.tormenta20 .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tormenta20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.tormenta20 .header-fields {
  padding: 6px !important;
}
.tormenta20 .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tormenta20 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.tormenta20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.tormenta20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.tormenta20.sheet.item .sheet-header {
  align-items: unset;
  flex: none;
}

.tormenta20.sheet.item .sheet-header .charname input {
  margin: 0;
  padding: 0;
  font-size: 24px;
  height: 100%;
  width: 100%;
  font-family: var(--modesto);
  background: transparent;
  border: none;
}

.tormenta20.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}

.tormenta20.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
  border-bottom: 1px solid var(--faint-color);
  color: var(--secondary-color);
  font-size: 13px;
}

.tormenta20.sheet.item .sheet-body .item-properties .form-group label {
  font-weight: 600;
  line-height: 20px;
}

.tormenta20.sheet.item .sheet-body .item-properties .form-group input {
  flex: 0 0 45px;
  text-align: right;
  background: none;
  height: 16px;
}

.tormenta20.sheet.item .sheet-body .item-properties .form-group input[type="text"] {
  border: none;
  padding: 0 6px;
  color: var(--primary-font);
}

.tormenta20.sheet.item .sheet-header .charname input:hover,
.tormenta20.sheet.item .sheet-body .item-properties .form-group input:hover {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}

.tormenta20.sheet.item .sheet-header .charname input:disabled:hover,
.tormenta20.sheet.item .sheet-body .item-properties .form-group input:disabled:hover {
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.tormenta20.sheet.item .sheet-body .item-properties ul {
  list-style: none;
  padding: 0;
}

.tormenta20.sheet.item .sheet-body .item-properties li {
  margin: 0 0 2px 0;
  border: 1px solid var(--faint-color);
  border-radius: 5px;
  font-size: 11px;
  line-height: 16px;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
}

.tormenta20.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 115px;
}

.tormenta20 .sheet-body,
.tormenta20 .sheet-body .tab {
  height: 100%;
}

.tormenta20 .sheet-body .tab .editor {
  height: inherit;
}

.tormenta20 .tox .tox-editor-container {
  background: #fff;
}

.tormenta20 .tox .tox-edit-area {
  padding: 0 8px;
}

.tormenta20 .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tormenta20 nav.sheet-tabs {
  text-align: center;
  font-size: 18px;
}

.tormenta20 .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.tormenta20 .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}


.tormenta20 .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: unset;
}


.tormenta20 .item-list .item-header {
  font-weight: bold;
}


.tormenta20 .item-list .item {
  height: auto; /*30px;*/
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}


.tormenta20 .item-list .item .atributo-list {
  display: inline-block;
}

.tormenta20 .item-tab {
  font-size: large;
}

.tormenta20 .skills-list .item-header {
  height: auto!important;
  font-weight: bold;
}
.tormenta20 .skills-list .item-header .item-name,
.tormenta20 .skills-list .item-header .item-total,
.tormenta20 .skills-list .item-header .item-outros {
  line-height: 26px;
}
.tormenta20 .skills-list .item-header .item-mod{
 font-size: 12px;
 line-height: auto;
}

.tormenta20 .skills-list .skill .item-image,

.tormenta20 .item-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.tormenta20 .skills-list {
  text-align: center;
}


.tormenta20 .item-list .item img {
  display: block;
}

.tormenta20 .skills-list .item-name {
  flex:2;
  margin: 0;
  text-align: left;
}

.tormenta20 .skills-list select,
.tormenta20 .skills-list input {
  width: 80%;
  height: auto!important;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.tormenta20 .skills-list select{
  width: 90%;
}


.tormenta20 .item-list .item-name {
  margin: 0;
}


.tormenta20 .item-list .item-separator {
  flex: 0;
}


.tormenta20 .ataques .item-list .item-name {
  margin: 0;
  -ms-flex: 2;
  flex: 2;
}

/*

.tormenta20 .atributos .item-list {
  min-height: 80px;
  text-transform: uppercase;
  border: none;
  background-color: unset;
}


.tormenta20 .atributos .item-list .item {
  display: inline-block;
  width: 15%;
}


.tormenta20 .atributos .item-list .item label {
  width: 100%;
}*/


.tormenta20 .item-list .item-prep {
  margin: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}


.tormenta20 .item-list .item-custo {
  max-width: 50px;
}


.tormenta20 .item-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  text-align: right;
}

.tormenta20 .ataques,
.tormenta20 .poderes {
  min-height: 60px;
}

.tormenta20 h1,
.tormenta20 h2 {
  border: 0 !important;
  border-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tormenta20 input {
  border-radius: 0;
  margin-bottom: 5px;
}
.tormenta20 input[type=button] {
  font-family: monospace;
}
.tormenta20 .container {
  display: inline-block;
}

.tormenta20 textarea {
  max-width: 100% !important;
}

.tormenta20 .full textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-width: 100% !important;
  max-height: unset !important;
}

.tormenta20 .infos label,
.tormenta20 .infos input {
  display: inline-block;
  width: calc(25% - 2px);
}

.tormenta20 .infos2 label {
  display: inline-block;
  width: calc(20% - 3px);
}

.tormenta20 .info input {
  display: inline-block;
  width: calc(20% - 2px);
}

.tormenta20 .bottom label > input {
  width: 50%;
}

.tormenta20 .infos label.nivel {
  width: calc(9% - 4px);
}

.tormenta20 .infos label.info {
  width: calc(20% - 5px);
}

.tormenta20 .sheet-body .dados {
  width: 55%;
  position: relative;
  float: left;
}

.tormenta20 .sheet-body .skills {
  width: 44%;
  position: relative;
  float: right;
}

.tormenta20 .pericias table th {
  font-size: 12px;
  line-height: 14px;
}

.col-5 {
  width: 5%;
}

.col-10 {
  width: 10%;
}

.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-24 {
  width: 24%;
  max-width: 24%;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75% !important;
  max-width: 75% !important;
}

.full {
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
}

.field {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.tormenta20 table.skl-tbl td {
  padding: 0;
  margin: 2px;
}

.tormenta20 div.border {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 100px;
  padding: 5px;
}

.tormenta20 input.border {
  border: 2px solid black;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

/*,.tormenta20 .dados .atributos*/
.tormenta20 .dados .recursos {
  font-size: 10px;
  text-align: center;
  /*min-height: 90px;*/
  margin:5px 0;

}

.tormenta20 .rollable:hover {
  cursor: pointer;
  color: red;
}

/*.tormenta20 .dados .atributos h1 {
  margin: auto;
}

.tormenta20 .dados .atributos label {
  width: auto;
  /*max-width: 16%;
  display: inline-block;
}

.tormenta20 .dados .atributos input {
  width: 60%;
  height: 20px;
  /* border: 0; 
  font-size: 2em;
}

.tormenta20 .dados .atributos input {
  display: block;
}
*/
.tormenta20 .header-fields .recursos label,
.tormenta20 .dados .recursos label {
  display: inline-block;
  width: 30%;
  max-width: 30%;
}

.tormenta20 .header-fields .label {
  margin-top: 1px;
  margin-bottom: 10px;
}

.tormenta20 .resource {
  width: 50%;
  height: unset !important;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.tormenta20 .resource {
  margin-top: 0;
}

.tormenta20 .header-fields .recursos .vl,
.tormenta20 .atributos .vl,
.tormenta20 .dados .recursos .vl {
  border-left: 1px solid black;
  height: 40px;
  display: inline-block;
  vertical-align: super;
}

.tormenta20 .dados .recursos input {
  width: 50px;
  height: 30px;
  /* border: 0; */
  font-size: 2em;
}

.tormenta20 .outros {
  /*float: right;
  position: relative;*/
  width: 100%;
}

.tormenta20 .defesa,
.tormenta20 .reducao_dano,
.tormenta20 .armadura {
  /*float: left;*/
  width: 100%;
}

.tormenta20 .sel-center {
  width: 100%;
  text-align: center;
}

.t20-chat-card span.custo {
  color: red;
}

/* Tooltip text */
.tooltip .tooltipcontent {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  line-height: 13px;
  /* min-width: 128px; */
  /* width: 240px; */
  max-width: 240px;
  /* Position the tooltip text */
  position: fixed;
  z-index: 1;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontent {
  visibility: visible;
  pointer-events: none;
  opacity: 1;
}



.tormenta20 .npc .item-list .item {
  height: auto;
  border: 0;
}


.tormenta20 .npc .item-list .item div.item-name {
  text-indent: -1.5em;
  padding-left: 1.5em;
}


.tormenta20 .item-list .item div.item-atq,

.tormenta20 .item-list .item div.item-dano {
  max-width: 70px;
}


.tormenta20 .npc .item-list .item div.item-controls {
  white-space: nowrap;
}


.tormenta20 .item-list .item-toggles{
  flex:0 0 40px;
  text-align: center;
}


.tormenta20 .item-list .item-toggles .item-toggle {
  /*color: #b5b3a4;*/
  color: #4b4a44;
  opacity: 0.5;
}

.tormenta20 .item-list .item-toggles .item-toggle.active {
  /*color: #4b4a44;*/
  opacity: 1;
}

.message-content div.dice-roll .dice-total .critico {
  border: 1px solid green;
  box-shadow: 0 0 2px green inset;
}

.message-content div.dice-roll .dice-total .falha {
  border: 1px solid red;
  box-shadow: 0 0 2px red inset;
}

.critico {
  border: 2px solid green;
  box-shadow: 0 0 4px green inset;
}

.falha {
  border: 2px solid red;
  box-shadow: 0 0 4px red inset;
}


/*chat*/

.tormenta20.chat-card {
  font-style: normal;
  font-size: 12px;
}

.tormenta20.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.tormenta20.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}

.tormenta20.chat-card .card-header  h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
}
.tormenta20.chat-card .card-header  h3.item-name {
  min-width: 190px;
  max-width: 190px;
}

.tormenta20.chat-card .card-header span.custo div,
.tormenta20.chat-card .card-header h3.item-name div  {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

.tormenta20.chat-card .card-header .custo {
  text-align: center;
  line-height: 36px;
}


.tormenta20.chat-card .card-header  h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}


.tormenta20.chat-card .card-content {
  margin: 5px 0;
}
.tormenta20.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}

.tormenta20.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.tormenta20.chat-card ol.dice-rolls {
  border: none;
}

.tormenta20.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}

.tormenta20.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}

.tormenta20.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

/* Tags */
.tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}


.tormenta20 ul.skills-list {
  flex: 0 0 300px;
  height: auto;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.tormenta20 ul.skills-list li.skill {
  height: 21.5px;
  padding: 3px 2px;
}
.tormenta20 ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.tormenta20 ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.tormenta20 ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.tormenta20 ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
}
.tormenta20 ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
  text-align: right;
}
.tormenta20 ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: right;
  color: #7a7971;
}

.tormenta20 .ability-scores {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;
  text-transform: uppercase;
}

.tormenta20 .tabbed .ability-scores {
  flex: 0 0 85px;
  height: 460px;
}

.tormenta20 .ability-scores .ability {
  /*height: auto;*/
  text-align: center;
  margin: 0px 1px;
}

.tormenta20 .ability-scores .ability:not(:last-child) {
  border-right: 1px solid #c9c7b8;
}

.tormenta20 .tabbed .ability-scores .ability {
  /*height: 50px;*/
  margin: 0;
  border: none;
}

.tormenta20 .tabbed .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -1px;
}
.tormenta20 .ability-scores .ability input.ability-value {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.tormenta20 .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}

/* Novo */
.tormenta20 input[type="number"] {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}

.tormenta20 h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 3px 2px;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}

.tormenta20 .recursos .attributes .attribute,
.tormenta20 .tabbed .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.tormenta20 .recursos .attributes .attributes .attribute:last-child,
.tormenta20 .tabbed .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.tormenta20 .recursos  .attributes .attribute .attribute-value {
  height: auto;
  line-height: normal;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}

.tormenta20 .recursos ul.attributes,
.tormenta20 .tabbed ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tormenta20 span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
  font-size: 24px;
}

.tormenta20 .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.tormenta20 .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.tormenta20 .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.tormenta20 .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: none;
  border-right: 2px groove #eeede0;
}
.tormenta20 .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.tormenta20 .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.tormenta20 .sheet-header .summary li:last-child {
  border-right: none;
}
.invert {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

.apply-area {
  align-items: center;
  width: 100%;
  border: 0px none #000;
}

.apply-button
{
  align-items: center;
  border: 0px none #000;
  text-align: center;
  vertical-align: middle;
}

.apply-button-b
{
  border: 0px none #000;
  background-color: #d9d9cd; 
  box-shadow: 0px 0px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  float: none;
}

.apply-button-img
{
  outline: 1px solid rgb(130 130 130);
  padding: 4px 4px 4px 4px;
  box-shadow: 2px 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);

}

.tormenta20 .npc input {
  display: none;
}

.tormenta20 .npc .rd.editing,
.tormenta20 .npc .npc-line.editing {
  display: none;
}

.tormenta20 .npc.statfields .rd,
.tormenta20 .npc.statfields .npc-line {
  display: flex;
}


.tormenta20 .npc .npc-line,
.tormenta20 .npc .item-list .item {
  line-height: 1.5em;
}
.tormenta20 .npc.statfields .npc-line,
.tormenta20 .npc.statfields .item-list .item {
  line-height: normal;
}

.tormenta20 .npc .item-controls {
  display: none;
  /*font-size: initial!important;*/
}

.tormenta20 .npc.statfields div {
  font-size: 0px;
}
.tormenta20 .npc.statfields .item-controls {
  display: block;
  font-size: small;
}
.tormenta20 .npc.statfields span {
  width: fit-content;
  max-width: 30%;
  text-align: center;
}
.tormenta20 .npc .editing * {
  font-size: small;
}


.tormenta20 .npc.statfields ol.listcol, 
.tormenta20 .npc.statfields ul.listcol {
  column-count: 2;
  column-gap: 5px;
}

.tormenta20 .npc.statfields input {
   display: inline-flex;
   font-size: 14px;
   width: auto;
   height: auto;
}

.tormenta20 .npc .abl-line input {
  font-size: 12px;
  height: fit-content;
  max-width: 30px;
}

.npc .skill-line * {
  font-size: 12px;
  height: fit-content;
  line-height: 1.5em;
}

.npc .skill-line {
  max-width: 50%;
  min-width: 50%;
}

.tormenta20 .npc .skill-line .rollable,
.tormenta20 .npc .skill-line .item-controls {
  flex: 0 0 30px;
  text-align: center!important;
}

.tormenta20 .npc .title-row input {
  width: 100%;
  height: 25px;
}

.tormenta20 .npc label {
  width: fit-content;
  max-width: 30%;
}
.tormenta20 .npc ul * {
  /*font-size: 14px!important;*/
}
.tormenta20 .npc span {
  text-align: left!important;
}

.tormenta20 .npc .abl-line,
.tormenta20 .npc .abl-line span {
  text-transform: uppercase;
  text-align: center!important;
}
.tormenta20 .npc label {
  color:crimson;
  font-weight: bold;
  font-size: 14px;
}

.tormenta20 .npc .title-row {
  text-transform: uppercase;
  font-weight: bold;
  color: crimson;
}
.tormenta20 .npc nav label{
  color:black;
  font-weight: bold;
  font-size: 16px;
}