<div class="settings">
    <div class="settings-group">
        <h3>Configurações Gerais</h3>
        <label>
            <input data-setting="allow-spell-browser" type="checkbox" {{#if settings.allowSpellBrowser}}checked{{/if}}>
            <h4>Permitir acesso dos jogadores ao navegador de magias</h4>
        </label>
        <label>
            <input data-setting="allow-feat-browser" type="checkbox" {{#if settings.allowFeatBrowser}}checked{{/if}}>
            <h4>Permitir acesso dos jogadores ao navegador de poderes</h4> 
        </label>
        <label>
            <input data-setting="allow-item-browser" type="checkbox" {{#if settings.allowItemBrowser}}checked{{/if}}>
            <h4>Permitir acesso dos jogadores ao navegador de itens</h4> 
        </label>
        <label>
            <input data-setting="allow-npc-browser" type="checkbox" {{#if settings.allowNpcBrowser}}checked{{/if}}>
            <h4>Permitir acesso dos jogadores ao navegador de NPCs</h4> 
        </label>
    </div>
    
    <div class="settings-group">
        <h3>Configuração de Compêndio de Itens</h3>
        {{#each settings.loadedSpellCompendium as |spellComp key|}}
            <label>
                <input data-setting="spell-compendium-setting" data-key="{{key}}" data-type="spell" type="checkbox"{{#if spellComp.load}}checked{{/if}}>
                <h4>Carregar {{spellComp.name}}</h4>
            </label>
        {{/each}}
    </div>
    <div class="settings-group">
        <h3>Configuração de Compêndio de NPCs</h3>
        {{#each settings.loadedNpcCompendium as |npcComp key|}}
            <label>
                <input data-setting="npc-compendium-setting" data-key="{{key}}" data-type="npc" type="checkbox"{{#if npcComp.load}}checked{{/if}}>
                <h4>Carregar {{npcComp.name}}</h4>
            </label>
        {{/each}}
    </div>
</div>