<div class="ataques">
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-image"></div>
			<div class="item-name" >ARMAS</div>
			<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>
			<div class="item-controls"><a class="item-control item-create" title="Criar Arma" data-type="arma"><i class="fas fa-plus"></i>
			Nova</a>
			</div>
		</li>
		{{#each actor.armas as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<span class="rollable arma-rollable item-name">
				<h4 class="item-name" >{{item.name}}</h4>
			</span>
			
			<div class="itam-rolls flex2">{{numberFormat item.data.atq sign=true}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})</div>
			<div class="item-controls">
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
</div>
	
<div class="armaduras">
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-image"></div>
			<div class="item-name">Armaduras e Acessórios</div>
			<div class="item-def">Defesa</div>
			<div class="item-pen">Penalidade</div>
			<div class="item-toggles">
			</div>
			<div class="item-controls"><a class="item-control item-create" title="Criar Equipável" data-type="equip"><i class="fas fa-plus"></i> Nova</a></div>
		</li>
		{{#each actor.equipamentos as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4 class="item-name">{{item.name}}</h4>

			<div class="item-def">+{{item.data.armadura.value}}</div>
			<div class="item-pen">-{{item.data.armadura.penalidade}}</div>
			<div class="item-toggles">
				<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Equipar{{else}}Desequipar{{/if}}">
					<i class="fas fa-shield-alt"></i>
				</a>
			</div>
			<div class="item-controls">
				<a class="item-control item-edit" title="Editar">
					<i class="fas fa-edit"></i>
				</a>
				<a class="item-control item-delete" title="Excluir">
					<i class="fas fa-trash"></i>
				</a>
			</div>
		</li>
		{{/each}}
	</ol>
</div>


<div class="inventario">
	<ol class="item-list inventory-list">
		<li class="item flexrow item-header">
			<div class="item-name" style="flex: 5;">Nome</div>
			<div class="item-qtd">Qtd</div>
			<div class="item-peso">Peso</div>
			<div class="item-controls">

			</div>
		</li>
		{{#each actor.inventario as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			{{#if (eq item.type "consumivel")}}
			<span class="item-name rollable consumivel-rollable" style="flex: 5;"><h4>{{item.name}}</h4></span>
			{{else}}
			<h4 class="item-name" style="flex: 5;">
				{{item.name}}
			</h4>
			{{/if}}
			<div class="item-qtd">{{item.data.qtd}}</div>
			<div class="item-peso">{{item.peso}}</div>
			<div class="item-controls">
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
		<li class="item flexrow item-header">
			<div class="item-name text-right">
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar armadura" data-type="equip"><i class="fas fa-plus"></i> Equipamento</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i class="fas fa-plus"></i> Consumível</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i class="fas fa-plus"></i> Item</a>
			</div>
		</li>
	</ol>
</div>

<div class="bottom flexrow">
	<label>T$: <input type="text" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}" data-dtype="Number" /></label>
	<label>TO: <input type="text" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}" data-dtype="Number" /></label>
	<label>CARGA: <input type="text" name="data.detalhes.carga" value="{{data.detalhes.carga}}" data-dtype="Number" readonly /></label>
</div>