{{!-- Filters --}}


<ul class="item-list">
	<li class="item flexrow item-header">
		<div class="item-image"></div>
		<div class="item-name">Nome</div>
		<div class="item-tipo">Tipo</div>
		<div class="item-custo">PM</div>
		{{#if owner}}
		<div class="item-controls">
			<a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i> Novo</a>
		</div>
		{{/if}}
	</li>
	{{#each actor.poderes as |item id|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-image" style="background-image: url('{{item.img}}')"></div>
		<span class="rollable poder-rollable" data-label="{{item.name}}">
			<h4 class="item-name">{{item.name}}</h4>
		</span>
		<div class="item-tipo" style="text-transform: capitalize;">{{item.data.tipo}}{{#if item.data.subtipo}}: {{item.data.subtipo}}{{/if}}</div>
		<div class="item-custo">{{item.data.custo}}</div>
		{{#if ../owner}}
		<div class="item-controls">
			<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
		</div>
		{{/if}}
	</li>
	{{/each}}
</ul>
