<form class="{{cssClass}} tormenta20 tabbed flexcol" autocomplete="off">
	
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow" style="flex:0 0 180px">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
		
		<section class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
			</h1>
			
			<aside class="header-exp flexcol" style="justify-content: normal;">
				<h4>Nível: <input style="width: 20%; border-radius: 20px; text-align: center;" type="text" name="data.attributes.nivel.value" value="{{data.attributes.nivel.value}}" data-dtype="Number" placeholder="0" /></h4>
				{{#unless disableExperience}}
				<div class="experience flexrow">
					<h4>Exp: <input style="width:50%; margin-bottom: 0px;" type="text" name="data.attributes.xp.value" value="{{data.attributes.xp.value}}" data-dtype="Number" placeholder="0" /></h4>
					<span class="sep">/</span>
					<span class="max" />{{data.attributes.xp.proximo}}</span>
				</div>
				<div class="expbar">
					<span class="bar" style="width: {{data.details.exp.pct}}%"></span>
				</div>
				{{/unless}}
			</aside>

			{{!-- Character Summary --}}
			<ul class="attributes summary flexrow">
				<li>
					<input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" placeholder="Raça" />
				</li>
				<li>
					<input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String" placeholder="Origem" />
				</li>
				<li>
					<input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String" placeholder="Classe" />
				</li>
			</ul>

			{{!-- Header Attributes --}}
			<ul class="attributes flexrow">
				<li class="attribute health">
					<h4 class="attribute-name box-title">Pontos de Vida</h4>
					<div class="attribute-value multiple">
						<input name="data.attributes.pv.value" type="text" value="{{data.attributes.pv.value}}" data-dtype="Number" placeholder="10">
						<span class="sep">/</span>
						<input name="data.attributes.pv.max" type="text" value="{{data.attributes.pv.max}}" data-dtype="Number" placeholder="10">
					</div>
					<footer class="attribute-footer">
						<input name="data.attributes.pv.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="+Temp" value="{{data.attributes.pv.temp}}" data-dtype="Number" />
					</footer>
				</li>
				<li class="attribute mana">
					<h4 class="attribute-name box-title">Pontos de Mana</h4>
					<div class="attribute-value multiple">
						<input name="data.attributes.pm.value" type="text" value="{{data.attributes.pm.value}}" data-dtype="Number" placeholder="10">
						<span class="sep">/</span>
						<input name="data.attributes.pm.max" type="text" value="{{data.attributes.pm.max}}" data-dtype="Number" placeholder="10">
					</div>
					<footer class="attribute-footer">
						<input name="data.attributes.pm.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="+Temp" value="{{data.attributes.pm.temp}}" data-dtype="Number" />
					</footer>
				</li>
				<li class="attribute">
					<h4 class="attribute-name box-title">Defesa</h4>
					<div class="tooltip">
						<div class="tooltipcontent">
							<strong>Fontes:</strong>
							<br/>
							Base: 10
							<br/>
							{{#if data.defesa.des}} Destreza: {{data.atributos.des.mod}}{{else}}{{#ifGreater 0 data.atributos.des.mod}}Destreza: {{data.atributos.des.mod}}
							<br /> {{/ifGreater}}{{/if}}
							{{#if data.armadura.equipado}} {{data.armadura.nome}}: {{data.armadura.defesa}}
							<br /> {{/if}}
							{{#if data.escudo.equipado}} {{data.escudo.nome}}: {{data.escudo.defesa}}
							<br /> {{/if}}
							{{#if data.defesa.outro}} Outros: {{data.defesa.outro}}
							<br /> {{/if}}
							{{#if data.defesa.temp}} Temporário: {{data.defesa.temp}}
							<br /> {{/if}}

						</div>
						<div class="attribute-value">
							<h1 style="height:auto">{{data.defesa.value}}</h1>
						</div>
					</div>
					<footer class="attribute-footer">
						<input name="data.defesa.outro" title="Outros" type="number" class="temphealth" placeholder="+Outros" value="{{data.defesa.outro}}" />
						<input name="data.defesa.temp" title="Bônus Temporário" type="number"  class="temphealth" placeholder="+Temp" value="{{data.defesa.temp}}" />
					</footer>
				</li>
				<li class="attribute">
					<h4 class="attribute-name box-title">Redução de Dano</h4>
					<div class="attribute-value">
						<h1 style="height:auto">{{data.rd.value}}</h1>
					</div>
					<footer class="attribute-footer">
						<input type="number" title="Valor Base" name="data.rd.base" class="temphealth" value="{{data.rd.base}}" placeholder="Base" data-dtype="Number" />
						<input type="number" title="Bônus Temporário" name="data.rd.temp" class="temphealth" value="{{data.rd.temp}}" placeholder="Temp" data-dtype="Number" />
					</footer>
				</li>
				<li class="attribute">
					<h4 class="attribute-name box-title">Deslocamento</h4>
					<div class="attribute-value">
						<input name="data.deslocamento.base" title="Base" type="text" value="{{data.deslocamento.base}}" placeholder="0" data-dtype="Number" />
						<span class="sep">/</span>
						<input name="data.deslocamento.total" readonly title="Atual" type="text" value="{{data.deslocamento.total}}" placeholder="0" data-dtype="Number" />
					</div>
					<footer class="attribute-footer">
						<input type="text" class="speed" name="data.deslocamento.especial" value="" placeholder="Deslocamento Adicional" />
					</footer>
				</li>
			</ul>
		</section>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<label><a class="item" data-tab="attributes">Ficha</a></label>
		<label><a class="item" data-tab="poderes">Poderes</a></label>
		{{#if isCaster}}<label><a class="item" data-tab="magias">Magias</a></label>{{/if}}
		<label><a class="item" data-tab="inventory">Inventário</a></label>
		<label><a class="item" data-tab="description">Biografia</a></label>
		<label><a class="item" data-tab="aviso">Aviso</a></label>
		<label style="flex:0"><a class="item" id="configure-actor" title="Configurar"><i class="fas fa-cogs"></i></a></label>
	</nav>


	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
			{{!-- Abilities --}}
			<ul class="ability-scores flexcol" style="height:fit-content">
				{{#each data.atributos as |atr key|}}
				<li class="ability" data-item-id="{{key}}">
					<h4 class="ability-name box-title rollable atributo-rollable">{{key}}</h4>
					<span class="rollable atributo-rollable" ><label>
						<h1 style="border: 0!important; padding:0;">{{numberFormat atr.mod decimals=0 sign=true}}</h1>
					</label>
					</span>
					<footer class="attribute-footer flexrow">
						<input style="margin-bottom: 0;" title="Base" type="number" name="data.atributos.{{key}}.value" value="{{atr.value}}" placeholder="0" />
						<input style="margin-bottom: 0;" title="Bônus Temporário" type="number" name="data.atributos.{{key}}.temp"  value="{{atr.temp}}" placeholder="0" />
					</footer>
				</li>
				{{/each}}
			</ul>

			{{!-- Skills --}}

			<ul class="skills-list">
				<li class="skill flexrow item-header">
					<div class="item-image"></div>
					<div class="item-name" >Pericias</div>
					<div class="item-total">Total</div>
					<div class="item-mod">Mod. Atributo</div>
					<div class="item-outros">Outros</div>
				</li>
				{{#each actor.skillset as |skill key|}}
				{{#if (eq skill "ofi")}}
				<li class="skill flexrow">
					<div class="item-image"></div>
					<div class="item-name">Ofícios</div>
					<div class="item-total"></div>
					<div class="item-mod"><a class="item-control skill-create" title="Criar Ofício" data-tipo="oficio"><i class="fas fa-plus"></i> Novo</a></div>
					<div class="item-outros"> <a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a></div>
				</li>
				{{else if (eq skill "cstm")}}
				<li class="skill flexrow">
					<div class="item-image"></div>
					<div class="item-name">Nova Perícia</div>
					<div class="item-total"></div>
					<div class="item-mod"><a class="item-control skill-create" title="Criar Perícia" data-tipo="pericia"><i class="fas fa-plus"></i> Nova</a></div>
					<div class="item-outros"> <a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a></div>
				</li>
				{{else}}
				<li class="skill flexrow {{skill.type}}" data-item-id="{{skill.id}}" data-type="{{skill.type}}">
					<div class="item-image">
						<input type="hidden" name="{{skill.path}}.{{skill.id}}.treinado" value="{{skill.treinado}}" data-dtype="Number" />
						<a class="training-toggle skill-training" title="Treinado"><i class="{{#if skill.treinado }}fas fa-check {{else}}far fa-circle{{/if}}"></i></a>
					</div>
					<div class="item-name" data-item-id="{{skill.id}}">
						{{#if skill.type}}
							<span class="rollable pericia-rollable" data-type="{{skill.type}}">
								<i class="fas fa-dice-d20"></i>
							</span>
							<input type="text" name="{{skill.path}}.{{skill.id}}.label" value="{{skill.label}}" data-dtype="String"/>
						{{else}}
							<span class="rollable pericia-rollable" data-type="padrao" >
								{{{skill.label}}} {{#if skill.st}}*{{/if}} {{#if skill.pda}}+{{/if}}
							</span>
						{{/if}}
					</div>
					<div class="item-total">
						<input type="text" value="{{numberFormat skill.value sign=true}}" data-dtype="Number" disabled />
						<input type="hidden" name="{{skill.path}}.{{skill.id}}.treino" value="{{skill.treino}}" data-dtype="Number" />
					</div>
					<div class="item-mod">
						<select class="selectatr" name="{{skill.path}}.{{skill.id}}.atributo" value={{skill.atributo}} data-dtype="String">
						{{#select skill.atributo}}
							<option value="for">For</option>
							<option value="des">Des</option>
							<option value="con">Con</option>
							<option value="int">Int</option>
							<option value="sab">Sab</option>
							<option value="car">Car</option>
						{{/select}}
						</select>
					</div>
					<div class="item-outros">
						<input type="text" class="skill-outros" data-dtype="Number" name="{{skill.path}}.{{skill.id}}.outros" value="{{skill.outros}}"/>
						{{#if skill.type}}
						<a class="item-control skill-delete" style="display: none;" data-item-id="{{skill.id}}" data-type="{{skill.type}}" title="Excluir"><i class="fas fa-trash"></i></a>
						{{/if}}
					</div>
				</li>

				{{/if}}
				{{/each}}
			</ul>

			<section class="center-pane">
				
				<div class="outros">
					<h3 style="text-align:center">PROFICIÊNCIAS E OUTRAS CARACTERÍSTICAS</h3>
					<div class="form-group">
						<label class="info">Tamanho:</label>
						<select class="selectatr" name="data.tamanho" value={{data.tamanho}} data-dtype="String">
						{{#select data.tamanho}}
							<option value="Minusculo">Minúsculo</option>
							<option value="Pequeno">Pequeno</option>
							<option value="Medio">Médio</option>
							<option value="Grande">Grande</option>
							<option value="Enorme">Enorme</option>
							<option value="Colossal">Colossal</option>
						{{/select}}
						</select>
					</div>
					<div class="form-group">
						<label class="info">Resistências:</label>
						<input name="data.resistencias" type="text" value="{{data.resistencias}}" data-dtype="String" />
					</div>
					<textarea name="data.attributes.info" style="resize:vertical; border-image: none; border-width: 1px;" rows="10" data-dtype="String">{{data.attributes.info}}</textarea>
				</div>
				<div class="conditions">
					<li class="item flexrow item-header flex-center">
						<div>CONDIÇÕES ATUAIS</div>
					</li>
					{{#each actor.referencias as |item index|}}
					<div>
						<label class="tooltip">
						  <img class="invert" src="{{item.icon}}" width="36" height="36" /> {{item.label}} 
						  <i class="fas fa-question-circle"></i>
						  <div class="tooltipcontent"> <img src="{{item.icon}}" width="120" height="120" /> {{{item.tooltip}}} </div>
						</label>
					  </div>
					{{/each}}
				</div>
			</section>

		</div>

		

		<div class="tab poderes" data-group="primary" data-tab="poderes">
			{{> "systems/tormenta20/templates/actor/parts/actor-powers.html" sections=power}}
		</div>

		<div class="tab magias" data-group="primary" data-tab="magias">
			{{> "systems/tormenta20/templates/actor/parts/actor-spells.html" sections=spells}}
		</div>

		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> "systems/tormenta20/templates/actor/parts/actor-inventory.html" sections=inventory}}
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>

		{{!-- Aviso Tab --}}
		<div class="tab aviso" data-group="primary" data-tab="aviso">
			<ol class="item-list">
				<li class="item flexrow item-header flex-center">
					<div>ATAQUES</div>
				</li>
				<li class="item flexrow item-header">
					<div class="item-image"></div>
					<div class="item-name">Nome</div>
					<div class="item-bonusAtq flex2 text-center">ATQ</div>
					<div class="item-dano flex2 text-center">Dano</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="ataque"><i class="fas fa-plus"></i>
						Novo</a>
					</div>
				</li>
				<li><center><b>Aviso: Ataques serão descontinuados. Converta-os para armas e macros.</b></center></li>
				{{#each actor.ataques as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-image" style="background-image: url('{{item.img}}')"></div>
					<span class="item-name rollable ataque-rollable">
						<h4 class="item-name">{{item.name}}</h4>
					</span>

					<div class="item-controls">
						<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</ol>
			<ol class="item-list">
				<li class="item flexrow item-header flex-center">
					<div>Equipado</div>
					<div>Item</div>
					<div>Defesa</div>
					<div>Penalidade</div>
				</li>
				<li class="item flexrow text-center">
					<div>
						<input type="checkbox" name="data.armadura.equipado" value="{{data.armadura.equipado}}" {{#if data.armadura.equipado }}checked{{/if}} data-dtype="Boolean"  />					
					</div>
					<div><input type="text" name="data.armadura.nome" value="{{data.armadura.nome}}" data-dtype="String" placeholder="Armadura" />
					</div>
					<div><input type="text" name="data.armadura.defesa" value="{{data.armadura.defesa}}" data-dtype="Number" />
					</div>
					<div><input type="text" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}" data-dtype="Number" /></div>
				</li>
				<li class="item flexrow text-center">
					<div>

						<input type="checkbox" name="data.escudo.equipado" value="{{data.escudo.equipado}}" {{#if data.escudo.equipado }}checked{{/if}} data-dtype="Boolean" readonly />

					</div>
					<div><input type="text" readonly name="data.escudo.nome" value="{{data.escudo.nome}}" data-dtype="String" placeholder="Escudo" /></div>
					<div><input type="text" readonly name="data.escudo.defesa" value="{{data.escudo.defesa}}" data-dtype="Number" />
					</div>
					<div><input type="text" readonly name="data.escudo.penalidade" value="{{data.escudo.penalidade}}" data-dtype="Number" /></div>
				</li>
				<li><center><b>Aviso: Estes campos serão descontinuados. Converta-os para armaduras.</b></center></li>
			</ol>
		</div>

	</section>
</form>
