<form class="tormenta20" autocomplete="off">

	{{!-- Sheet Tab Navigation --}}

	<nav class="sheet-tabs tabs" data-group="primary">
		<label>
			<i class="fas fa-dice-d20"></i>
			<a class="item" data-tab="attributes" title="Ficha">Ficha</a>
		</label>
		<label>
			<i class="fas fa-address-card"></i>
			<a class="item" data-tab="description" title="Biografia">Biografia</a>
		</label>
		<label><i class="fas fa-wrench"></i> <a class="item" data-tab="aviso" title="Aviso">Aviso</a></label>
		<label><a class="item" id="configure-actor" title="Configurar">Configurar</a></label>
	</nav>


	{{!-- Sheet Header --}}
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
	
			<header class="sheet-header flexrow" style="flex:0 0 180px">
				<section class="header-details flexcol">
					<h1 class="charname">
						<input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
					</h1>
					{{!-- Character Summary --}}
					<ul class="attributes summary flexrow">
						<li class="flexrow">
							<input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" placeholder="Raça" />
						</li>
						<li class="flexrow">
							<input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String" placeholder="Origem" />
						</li>
						<li class="flexrow">
							<input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String" placeholder="Classe" />
							<input style="min-width: 20%; flex: 0; text-align: center;" type="text" name="data.attributes.nivel.value" value="{{data.attributes.nivel.value}}" data-dtype="Number" placeholder="Nível" />
						</li>
					</ul>
					<ul class="attributes summary flexrow">
						<li class="flexrow">
							<label class="info">Tamanho:</label>
							<select class="selectatr" name="data.tamanho" value={{data.tamanho}} data-dtype="String">
							{{#select data.tamanho}}
								<option value="Minusculo">Minúsculo</option>
								<option value="Pequeno">Pequeno</option>
								<option value="Medio">Médio</option>
								<option value="Grande">Grande</option>
								<option value="Enorme">Enorme</option>
								<option value="Colossal">Colossal</option>
							{{/select}}
							</select>
						</li>
						<li class="flexrow">
							<label class="info">Deslocamento</label>
							<input name="data.deslocamento.base" title="Base" type="text" value="{{data.deslocamento.base}}" placeholder="0" data-dtype="Number" />
							<span class="sep">/</span>
							<input name="data.deslocamento.total" readonly title="Atual" type="text" value="{{data.deslocamento.total}}" placeholder="0" data-dtype="Number" />
							
						</li>
						<li class="flexrow">
							<sup>
								{{#unless disableExperience}}
								<div class="experience flexrow">
									<h4>Exp: <input style="width:50%; margin-bottom: 0px;" type="text" name="data.attributes.xp.value" value="{{data.attributes.xp.value}}" data-dtype="Number" placeholder="0" /></h4>
									<span class="sep">/</span>
									<span class="max" />{{data.attributes.xp.proximo}}</span>
								</div>
								<div class="expbar">
									<span class="bar" style="width: {{data.details.exp.pct}}%"></span>
								</div>
								{{/unless}}
							</sup>
							
						</li>
					</ul>
				</section>
			</header>
			<div class="dados" style="width:61%">
				{{!-- Abilities --}}
				<ul class="ability-scores flexrow">
					{{#each data.atributos as |atr key|}}
					<li class="ability" data-item-id="{{key}}">
						<h4 class="ability-name box-title rollable atributo-rollable">{{key}}</h4>
						<span class="rollable atributo-rollable" ><label>
							<h1 style="border: 0!important; padding:0;">{{numberFormat atr.mod decimals=0 sign=true}}</h1>
						</label>
						</span>
						<footer class="attribute-footer flexrow">
							<label class="flexcol">
								<input style="margin-bottom: 0;" title="Base" type="number" name="data.atributos.{{key}}.value" value="{{atr.value}}" placeholder="0" />
								Base
							</label>
							<label class="flexcol">
								<input style="margin-bottom: 0;" title="Bônus Temporário" type="number" name="data.atributos.{{key}}.temp"  value="{{atr.temp}}" placeholder="0" />
								Temp
							</label>
						</footer>
					</li>
					{{/each}}
				</ul>
				<div class="recursos">
					<ul class="attributes flexrow">
						<li class="attribute health">
							<h4 class="attribute-name box-title">Pontos de Vida</h4>
							<div class="attribute-value multiple flexrow" style="width: 70%;margin: auto;">
								<label class="flexcol">
									<input name="data.attributes.pv.value" type="text" value="{{data.attributes.pv.value}}" data-dtype="Number" placeholder="10">
									<span>Atuais</span>
								</label>
								
									<span class="sep">|</span>
								
								<label class="flexcol">
									<input name="data.attributes.pv.max" type="text" value="{{data.attributes.pv.max}}" data-dtype="Number" placeholder="10">
									Totais
								</label>
								
									<span class="sep">|</span>
								
								<label class="flexcol">
									<input name="data.attributes.pv.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="+Temp" value="{{data.attributes.pv.temp}}" data-dtype="Number" />
									Temporários
								</label>
							</div>
						</li>
						<li class="attribute mana">
							<h4 class="attribute-name box-title">Pontos de Mana</h4>
							<div class="attribute-value multiple flexrow" style="width: 70%;margin: auto;">
								<label class="flexcol">
									<input name="data.attributes.pm.value" type="text" value="{{data.attributes.pm.value}}" data-dtype="Number" placeholder="-">
									Atuais
								</label>
								<span class="sep">|</span>
								<label class="flexcol">
									<input name="data.attributes.pm.max" type="text" value="{{data.attributes.pm.max}}" data-dtype="Number" placeholder="10">
									Totais
								</label>
								<span class="sep">|</span>
								<label class="flexcol">
									<input name="data.attributes.pm.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="+Temp" value="{{data.attributes.pm.temp}}" data-dtype="Number" />
									Temporários
								</label>
							</div>
						</li>
					</ul>
				</div>
				<div class="ataques">
					<ol class="item-list">
						<li class="item flexrow item-header flex-center">ARMAS</li>
						<li class="item flexrow item-header">
							<div class="item-image"></div>
							<div class="item-name" >ARMAS</div>
							<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>
							<div class="item-controls"><a class="item-control item-create" title="Criar Arma" data-type="arma"><i class="fas fa-plus"></i>
							Nova</a>
							</div>
						</li>
						{{#each actor.armas as |item id|}}
						<li class="item flexrow" data-item-id="{{item._id}}">
							<div class="item-image" style="background-image: url('{{item.img}}')"></div>
							<span class="rollable arma-rollable item-name">
								<h4 class="item-name" >{{item.name}}</h4>
							</span>
							
							<div class="itam-rolls flex2">{{numberFormat item.data.atq sign=true}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})</div>
							<div class="item-controls">
								<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
							</div>
						</li>
						{{/each}}
					</ol>
				</div>
				<div class="defesa">
					<ol class="ability-scores" style="width:25%; height:120px; display:inline-block;">
						<li class="flexrow item-header flex-center">
							<h4 class="box-title">DEFESA</h4>
						</li>
						<li class="flexrow text-center" >
							<div class="item-name" style="height:80px;">
								<div class="tooltip">
									<div class="tooltipcontent">
										<strong>Fontes:</strong>
										<br/>
										Base: 10
										<br/>
										{{#if data.defesa.des}} Destreza: {{data.atributos.des.mod}}{{else}}{{#ifGreater 0 data.atributos.des.mod}}Destreza: {{data.atributos.des.mod}}
										<br /> {{/ifGreater}}{{/if}}
										{{#if data.armadura.equipado}} {{data.armadura.nome}}: {{data.armadura.defesa}}
										<br /> {{/if}}
										{{#if data.escudo.equipado}} {{data.escudo.nome}}: {{data.escudo.defesa}}
										<br /> {{/if}}
										{{#if data.defesa.outro}} Outros: {{data.defesa.outro}}
										<br /> {{/if}}
										{{#if data.defesa.temp}} Temporário: {{data.defesa.temp}}
										<br /> {{/if}}

									</div>
									<h1 style="padding:0">{{data.defesa.value}}</h1>
								</div>
								<div class="flexrow">
									<label class="flexcol">
										<input name="data.defesa.outro" title="Outros" type="number" class="temphealth" placeholder="+Outros" value="{{data.defesa.outro}}" />
										Outros
									</label>
									<label class="flexcol">
										<input name="data.defesa.temp" title="Bônus Temporário" type="number"  class="temphealth" placeholder="+Temp" value="{{data.defesa.temp}}" />
										Temp
									</label>
										
								</div>
							</div>
						</li>
					</ol>
					<ol class="ability-scores" style="width: calc(75% - 4px); height:120px; display:inline-block; vertical-align:top;">
						<li class="flexrow item-header flex-center">
							<div class="item-name">Resistência a Dano</div>
							<div class="item-name">RD Base</div>
							<div class="item-name">RD Temporario</div>
						</li>
						<li class="flexrow text-center">
							<div class="item-name">{{data.rd.value}}</div>
							<div class="item-name">
								<input type="text" name="data.rd.base" value="{{data.rd.base}}" data-dtype="Number" placeholder="0" />
							</div>
							<div class="item-name">
								<input type="text" name="data.rd.temp" value="{{data.rd.temp}}" data-dtype="Number" placeholder="0" />
							</div>
						</li>
						<li class="flexrow item-header flex-center">
							<div class="item-name">Resistências</div>
							<input name="data.resistencias" style="text-align: left;" type="text" value="{{data.resistencias}}" data-dtype="String" />
						</li>
					</ol>
					<ol class="item-list">
						<li class="item flexrow item-header">
							<div class="item-image"></div>
							<div class="item-name flex2">Armaduras e Acessórios</div>
							<div class="item-def">Defesa</div>
							<div class="item-pen">Penalidade</div>
							<div class="item-toggles">
							</div>
							<div class="item-controls"><a class="item-control item-create" title="Criar Equipável" data-type="equip"><i class="fas fa-plus"></i> Nova</a></div>
						</li>
						{{#each actor.equipamentos as |item id|}}
						<li class="item flexrow" data-item-id="{{item._id}}">
							<div class="item-image" style="background-image: url('{{item.img}}')"></div>
							<h4 class="item-name flex2">{{item.name}}</h4>

							<div class="item-def">+{{item.data.armadura.value}}</div>
							<div class="item-pen">-{{item.data.armadura.penalidade}}</div>
							<div class="item-toggles">
								<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Equipar{{else}}Desequipar{{/if}}">
									<i class="fas fa-shield-alt"></i>
								</a>
							</div>
							<div class="item-controls">


								<a class="item-control item-edit" title="Editar">
									<i class="fas fa-edit"></i>
								</a>
								<a class="item-control item-delete" title="Excluir">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</li>
						{{/each}}
					</ol>

				</div>
				<div class="poderes">
					<ol class="item-list">
						<li class="item flexrow item-header flex-center">
						PODERES
						</li>
						<li class="item flexrow item-header">
							<div class="item-image"></div>
							<div class="item-name">Poderes</div>
							<div class="item-tipo">Tipo</div>
							<div class="item-custo">PM</div>
							{{#if owner}}
							<div class="item-controls">
								<a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i> Novo</a>
							</div>
							{{/if}}
						</li>
						{{#each actor.poderes as |item id|}}
						<li class="item flexrow" data-item-id="{{item._id}}">
							<div class="item-image" style="background-image: url('{{item.img}}')"></div>
							<span class="rollable poder-rollable" data-label="{{item.name}}">
								<h4 class="item-name">{{item.name}}</h4>
							</span>
							<div class="item-tipo" style="text-transform: capitalize;">{{item.data.tipo}}{{#if item.data.subtipo}}: {{item.data.subtipo}}{{/if}}</div>
							<div class="item-custo">{{item.data.custo}}</div>
							{{#if ../owner}}
							<div class="item-controls">
								<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
							</div>
							{{/if}}
						</li>
						{{/each}}
					</ol>
				</div>



				{{#if isCaster}}
				<div class="magias">
					<ol class="item-list">
						<li class="item flexrow item-header flex-center">
							<div>MAGIAS</div>
						</li>
						<li class="item item-header" style="text-align: center;">
							<div><label>CD Base:</label> <input style="max-width: 30px;" name="data.attributes.cd" type="text" value="{{data.attributes.cd}}" data-dtype="Number"></div>
						</li>
						{{#each actor.magias as |circulo i|}}
						<ol class="item-list">
							<li class="item flexrow item-header">
								{{#if ../isPreparationCaster}}<div class="item-toggles">Prep</div>{{/if}}
								<div class="item-name">{{i}}º Círculo ({{circulo.custo}} PM)</div>
								<div class="item-controls">

									<a class="item-control item-create" title="Create item" data-type="magia" data-circulo="{{i}}"><i class="fas fa-plus"></i> Novo</a>
								</div>
							</li>
							{{#each circulo.spells as |m index|}}
							<li class="item flexrow" data-item-id="{{m._id}}">
								{{#if ../../isPreparationCaster}}
								<div class="item-toggles">
									<a class="item-toggle preparation-toggle {{#if m.data.preparada }}active{{/if}}" title="Preparada"><i class="fas fa-sun"></i></a>
								</div>
								{{/if}}
								<div class="item-image" style="background-image: url('{{m.img}}')"></div>
								<span class="rollable magia-rollable" data-label="{{m.name}}"><h4 class="item-name">{{m.name}}</h4></span>
								<div class="item-controls">
									<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
								</div>
							</li>
							{{/each}}
						</ol>
						{{/each}}
					</ol>
				</div>
				{{/if}}


				<div class="outros">
					<h4>PROFICIÊNCIAS E OUTRAS CARACTERÍSTICAS</h4>
					<textarea name="data.attributes.info" style="resize:vertical;" rows="10" data-dtype="String">{{data.attributes.info}}</textarea>
				</div>
				<div class="conditions">
					<li class="item flexrow item-header flex-center">
						<div>CONDIÇÕES ATUAIS</div>
					</li>
					{{#each actor.referencias as |item index|}}
					<div>
						<label class="tooltip">
						  <img class="invert" src="{{item.icon}}" width="36" height="36" /> {{item.label}} 
						  <i class="fas fa-question-circle"></i>
						  <div class="tooltipcontent"> <img src="{{item.icon}}" width="120" height="120" /> {{{item.tooltip}}} </div>
						</label>
					  </div>
					{{/each}}
				</div>
			</div>
			<div class="skills" style="width:38%">
				{{!-- Skills --}}

				<ul class="skills-list">
					<li class="skill flexrow item-header">
						<div class="item-image"></div>
						<div class="item-name" >Pericias</div>
						<div class="item-total">Total</div>
						<div class="item-mod">Mod. Atributo</div>
						<div class="item-outros">Outros</div>
					</li>
					{{#each actor.skillset as |skill key|}}
					{{#if (eq skill "ofi")}}
					<li class="skill flexrow">
						<div class="item-image"></div>
						<div class="item-name">Ofícios</div>
						<div class="item-total"></div>
						<div class="item-mod"><a class="item-control skill-create" title="Criar Ofício" data-tipo="oficio"><i class="fas fa-plus"></i> Novo</a></div>
						<div class="item-outros"> <a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a></div>
					</li>
					{{else if (eq skill "cstm")}}
					<li class="skill flexrow">
						<div class="item-image"></div>
						<div class="item-name">Nova Perícia</div>
						<div class="item-total"></div>
						<div class="item-mod"><a class="item-control skill-create" title="Criar Perícia" data-tipo="pericia"><i class="fas fa-plus"></i> Nova</a></div>
						<div class="item-outros"> <a class="item-control show-controls" title="Editar Perícias"><i class="fas fa-cogs"></i></a></div>
					</li>
					{{else}}
					<li class="skill flexrow {{skill.type}}" data-item-id="{{skill.id}}" data-type="{{skill.type}}">
						<div class="item-image">
							<input type="hidden" name="{{skill.path}}.{{skill.id}}.treinado" value="{{skill.treinado}}" data-dtype="Number" />
							<a class="training-toggle skill-training" title="Treinado"><i class="{{#if skill.treinado }}fas fa-check {{else}}far fa-circle{{/if}}"></i></a>
						</div>
						<div class="item-name" data-item-id="{{skill.id}}">
							{{#if skill.type}}
								<span class="rollable pericia-rollable" data-type="{{skill.type}}">
									<i class="fas fa-dice-d20"></i>
								</span>
								<input type="text" name="{{skill.path}}.{{skill.id}}.label" value="{{skill.label}}" data-dtype="String"/>
							{{else}}
								<span class="rollable pericia-rollable" data-type="padrao" >
									{{{skill.label}}} {{#if skill.st}}*{{/if}} {{#if skill.pda}}+{{/if}}
								</span>
							{{/if}}
						</div>
						<div class="item-total">
							<input type="text" value="{{numberFormat skill.value sign=true}}" data-dtype="Number" disabled />
							<input type="hidden" name="{{skill.path}}.{{skill.id}}.treino" value="{{skill.treino}}" data-dtype="Number" />
						</div>
						<div class="item-mod">
							<select class="selectatr" name="{{skill.path}}.{{skill.id}}.atributo" value={{skill.atributo}} data-dtype="String">
							{{#select skill.atributo}}
								<option value="for">For</option>
								<option value="des">Des</option>
								<option value="con">Con</option>
								<option value="int">Int</option>
								<option value="sab">Sab</option>
								<option value="car">Car</option>
							{{/select}}
							</select>
						</div>
						<div class="item-outros">
							<input type="text" class="skill-outros" data-dtype="Number" name="{{skill.path}}.{{skill.id}}.outros" value="{{skill.outros}}"/>
							{{#if skill.type}}
							<a class="item-control skill-delete" style="display: none;" data-item-id="{{skill.id}}" data-type="{{skill.type}}" title="Excluir"><i class="fas fa-trash"></i></a>
							{{/if}}
						</div>
					</li>

					{{/if}}
					{{/each}}
				</ul>

				<div class="inventario">
						
					<ol class="item-list">
						<li class="item flexrow item-header flex-center">INVENTÁRIO</li>
						<li class="item flexrow item-header">
							<div class="item-name" style="flex: 5;">Nome</div>
							<div class="item-qtd">Qtd</div>
							<div class="item-peso">Peso</div>
							<div class="item-controls">

							</div>
						</li>
						{{#each actor.inventario as |item id|}}
						<li class="item flexrow" data-item-id="{{item._id}}">
							<div class="item-image" style="background-image: url('{{item.img}}')"></div>
							{{#if (eq item.type "consumivel")}}
							<span class="item-name rollable consumivel-rollable" style="flex: 5;"><h4>{{item.name}}</h4></span>
							{{else}}
							<h4 class="item-name" style="flex: 5;">
								{{item.name}}
							</h4>
							{{/if}}
							<div class="item-qtd">{{item.data.qtd}}</div>
							<div class="item-peso">{{item.peso}}</div>
							<div class="item-controls">
								<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
							</div>
						</li>
						{{/each}}
						<li class="item flexrow item-header">
							<div class="item-name text-right">
								&nbsp;&nbsp;
								<a class="item-control item-create" title="Criar armadura" data-type="equip"><i class="fas fa-plus"></i> Equipamento</a>
								&nbsp;&nbsp;
								<a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i class="fas fa-plus"></i> Consumível</a>
								&nbsp;&nbsp;
								<a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i class="fas fa-plus"></i> Item</a>
							</div>
						</li>
					</ol>

					<div class="bottom flexrow">
						<label>T$: 
							<input type="text" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}" data-dtype="Number" />
						</label>
						<label>TO: 
							<input type="text" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}" data-dtype="Number" />
						</label>
						<label>CARGA: 
							<input type="text" name="data.detalhes.carga" value="{{data.detalhes.carga}}" data-dtype="Number" />
						</label>
					</div>
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}

		<div class="tab biography" data-group="primary" data-tab="description">
			<div class="flexrow flex-between">
				<div style="max-width: 220px;">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />
				</div>

				{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}

			</div>
		</div>


		{{!-- Aviso Tab --}}
		<div class="tab aviso" data-group="primary" data-tab="aviso">

			<ol class="item-list">
				<li class="item flexrow item-header flex-center">
					<div>ATAQUES</div>
				</li>
				<li class="item flexrow item-header">
					<div class="item-image"></div>
					<div class="item-name">Nome</div>
					<div class="item-bonusAtq flex2 text-center">ATQ</div>
					<div class="item-dano flex2 text-center">Dano</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="ataque"><i class="fas fa-plus"></i>
						Novo</a>
					</div>
				</li>
				<li><center><b>Aviso: Ataques serão descontinuados. Converta-os para armas e macros.</b></center></li>
				{{#each actor.ataques as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-image" style="background-image: url('{{item.img}}')"></div>
					<span class="item-name rollable ataque-rollable">
						<h4 class="item-name">{{item.name}}</h4>
					</span>

					<div class="item-controls">
						<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</ol>
			<ol class="item-list">
				<li class="item flexrow item-header flex-center">
					<div>Equipado</div>
					<div>Item</div>
					<div>Defesa</div>
					<div>Penalidade</div>
				</li>
				<li class="item flexrow text-center">
					<div>
						<input type="checkbox" name="data.armadura.equipado" value="{{data.armadura.equipado}}" {{#if data.armadura.equipado }}checked{{/if}} data-dtype="Boolean"  />          
					</div>
					<div><input type="text" name="data.armadura.nome" value="{{data.armadura.nome}}" data-dtype="String" placeholder="Armadura" />
					</div>
					<div><input type="text" name="data.armadura.defesa" value="{{data.armadura.defesa}}" data-dtype="Number" />
					</div>
					<div><input type="text" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}" data-dtype="Number" /></div>
				</li>
				<li class="item flexrow text-center">
					<div>

						<input type="checkbox" name="data.escudo.equipado" value="{{data.escudo.equipado}}" {{#if data.escudo.equipado }}checked{{/if}} data-dtype="Boolean" readonly />

					</div>
					<div><input type="text" readonly name="data.escudo.nome" value="{{data.escudo.nome}}" data-dtype="String" placeholder="Escudo" /></div>
					<div><input type="text" readonly name="data.escudo.defesa" value="{{data.escudo.defesa}}" data-dtype="Number" />
					</div>
					<div><input type="text" readonly name="data.escudo.penalidade" value="{{data.escudo.penalidade}}" data-dtype="Number" /></div>
				</li>
				<li><center><b>Aviso: Estes campos serão descontinuados. Converta-os para armaduras.</b></center></li>
			</ol>
		</div>
	</section>
</form>
