<form class="tormenta20 npc {{statblock}}" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<label><i class="fas fa-dice-d20"></i> <a class="item" data-tab="attributes" title="Ficha">Ficha</a></label>
		<label><i class="fas fa-address-card"></i> <a class="item" data-tab="description" title="Biografia">Biografia</a></label>

		<label><a class="item" id="configure-actor" title="Configurar">Configurar</a></label>
	</nav>


	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="flexrow title-row">
				<h2 class="flex3">{{actor.name}}
					<input name="name" class="npc-name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
				</h2>
				<aside class="text-right flexrow">
					<h2>
						<label>ND</label> {{data.attributes.nd}}
					</h2>
					<input type="text" class="npc-nd" name="data.attributes.nd" value="{{data.attributes.nd}}">
				</aside>
			</div>
			<i>{{data.attributes.raca}} {{data.attributes.nivel.value}}, {{data.tamanho}}</i>
			<div class="flexrow">
				
				<input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" placeholder="Tipo/Raça" />
				<input type="text" name="data.attributes.nivel.value" value="{{data.attributes.nivel.value}}" data-dtype="Number" placeholder="Nível" style="flex:0 0 40px" />
				<input type="text" name="data.tamanho" value="{{data.tamanho}}" data-dtype="String" title="Tamanho" />
			</div>
			<hr>
			<div class="npc-line">
				<span class="rollable pericia-rollable skill" data-item-id="ini" data-type="padrao">
					<label>Iniciativa: </label>
					{{numberFormat data.pericias.ini.value sign=true}}
				</span>
				<input type="text" name="data.pericias.ini.value" value="{{data.pericias.ini.value}}" data-dtype="Number" title="Iniciativa">

				<span class="rollable pericia-rollable skill" data-item-id="per" data-type="padrao">
					<label>Percepção: </label>
					{{numberFormat data.pericias.per.value sign=true}}
				</span>
				<input type="text" name="data.pericias.per.value" value="{{data.pericias.per.value}}" data-dtype="Number" title="Percepção">
				
				{{data.sentidos}}
				<input type="text" name="data.sentidos" value="{{data.sentidos}}" data-dtype="String" placeholder="Sentidos" class="flex3">
			</div>
			<div class="npc-line">
				<span>
					<label>Defesa: </label>
					{{data.defesa.value}}
				</span>
				<input type="text" name="data.defesa.value" value="{{data.defesa.value}}" data-dtype="Number" title="Defesa">

				<span class="rollable pericia-rollable skill" data-item-id="for" data-type="padrao">
					<label>Fort: </label>
					{{numberFormat data.pericias.for.value sign=true}}
				</span>
				<input type="text" name="data.pericias.for.value" value="{{data.pericias.for.value}}" data-dtype="Number" title="Fortitude">

				<span class="rollable pericia-rollable skill" data-item-id="ref" data-type="padrao">
					<label>Ref: </label>
					{{numberFormat data.pericias.ref.value sign=true}}
				</span>
				<input type="text" name="data.pericias.ref.value" value="{{data.pericias.ref.value}}" data-dtype="Number" title="Reflexos">

				<span class="rollable pericia-rollable skill" data-item-id="von" data-type="padrao">
					<label>Von: </label>
					{{numberFormat data.pericias.von.value sign=true}}
				</span>
				<input type="text" name="data.pericias.von.value" value="{{data.pericias.von.value}}" data-dtype="Number" title="Vontade">

				<span class="rd {{#unless data.rd.value}}editing{{/unless}}">
					<label>RD: </label>
					{{data.rd.value}}
				</span>
				<input type="text" name="data.rd.value" value="{{data.rd.value}}" data-dtype="Number" title="RD">

				{{data.resistencias}}
				<input type="text" name="data.resistencias" value="{{data.resistencias}}" data-dtype="String" placeholder="Resistências" class="flex3">
			</div>
			<div class="npc-line">
				<label>Pontos de Vida: </label>
				{{data.attributes.pv.value}} / {{data.attributes.pv.max}} {{#if data.attributes.pv.temp}}/ {{data.attributes.pv.temp}} {{/if}}

				<input type="text" name="data.attributes.pv.value" value="{{data.attributes.pv.value}}" data-dtype="Number" title="PV Atuais" />
				<input type="text" value="/" readonly style="border:none;flex:0;background:none;">
				<input type="text" name="data.attributes.pv.max" value="{{data.attributes.pv.max}}" data-dtype="Number" title="PV Máximos" />
			</div>
			<div class="npc-line">
				<label>Deslocamento: </label>
				{{data.deslocamento.value}}
				<input type="text" name="data.deslocamento.value" value="{{data.deslocamento.value}}" data-dtype="String" title="Deslocamento" />
			</div>
			{{#if (or data.attributes.pm.value editing)}}
			<hr>
			{{/if}}
			<div class="npc-line {{#unless (and data.attributes.pm.value data.attributes.pm.max)}}editing{{/unless}}">
				<label>Pontos de Mana: </label>
				{{data.attributes.pm.value}} / {{data.attributes.pm.max}} {{#if data.attributes.pm.temp}}/ {{data.attributes.pm.temp}} {{/if}}
				<input type="text" name="data.attributes.pm.value" value="{{data.attributes.pm.value}}" data-dtype="Number" title="PM Atuais" />
				<input type="text" value="/" readonly style="border:none;flex:0;background:none;">
				<input type="text" name="data.attributes.pm.max" value="{{data.attributes.pm.max}}" data-dtype="Number" title="PM Máximos" />
			</div>
			
			{{!-- eq, gt, gte, lt, lte, or, and --}}
			<div>
				<div class="item-controls editing">
					<a class="item-control item-create" title="Nova Arma" data-type="arma"><i class="fas fa-plus"></i> Arma</a>
					<a class="item-control item-create" title="Nova Habilidade" data-type="poder"><i class="fas fa-plus"></i> Habilidade</a>
					<a class="item-control item-create" title="Nova Magia" data-type="magia"><i class="fas fa-plus"></i> Magia</a>
				</div>
				{{#if (or actor.ataques actor.armas)}}<hr>{{/if}}
				<ul class="item-list editing listcol">
					{{#each actor.ataques as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<div class="item-name">
							<span class="rollable ataque-rollable" data-item-id="{{item._id}}">
							<h4 class="item-name" style="flex: 5;"><label>{{item.name}}</label> +{{item.data.atq}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})
							</h4>
							</span>
						</div>
						<div class="item-controls">
							<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/each}}
					{{#each actor.armas as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<div class="item-name">
							<span class="rollable arma-rollable" data-item-id="{{item._id}}">
							<h4 class="item-name" style="flex: 5;"><label>{{item.name}}</label> +{{item.data.atq}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})
							</h4>
							</span>
						</div>
						<div class="item-controls">
							<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/each}}
					{{#if actor.poderes}}
					{{#unless editing}}<hr>{{/unless}}
					{{#each actor.poderes as |item id|}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<div class="item-name">
							<span class="rollable poder-rollable" data-item-id="{{item._id}}">
								<label>{{item.name}}:</label>
							</span>
							{{{stripTags item.data.description}}}
						</div>
						<div class="item-controls">
							<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/each}}
					{{#unless editing}}<hr>{{/unless}}
					{{/if}}
				</ul>
				{{#if actor.magias}}
				<ul class="item-list">
					<li class="item flexrow">
						<div class="item-name magias"><label>Magias: </label>
							{{#if editing}}
								<ol class="item-list editing listcol">
								{{#each actor.magias as |circulo i|}}
									{{#if circulo.spells}}
									<li>
										{{i}}º Círculo
									</li>
									<li>
										<ol class="item-list">
										
										{{#each circulo.spells as |m index|}}
											<li class="item flexrow" data-item-id="{{m._id}}">
												<div class="item-name">
													<span class="item rollable magia-rollable" data-item-id="{{m._id}}">{{m.name}};</span>
												</div>
												<div class="item-controls">
													<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
													<a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
												</div>
											</li>
										{{/each}}

										</ol>
									</li>
									{{/if}}
								{{/each}}
								</ol>
							{{else}}
								{{#each actor.magias as |circulo i|}}
									{{#if circulo.spells}}
									{{i}}º —
										{{#each circulo.spells as |m index|}}
											<span class="item rollable magia-rollable" data-item-id="{{m._id}}"><i>{{m.name}}</i></span>,
										{{/each}}
									{{/if}}
								{{/each}}
							{{/if}}
						</div>
					</li>
				{{/if}}
				</ul>
				<hr>
			</div>
			<!-- <hr> -->
			<div class="flexrow text-center abl-line">
				{{#each data.atributos as |atr key|}}
					<span class="rollable atributo-rollable" data-item-id="{{key}}">
						<label title="{{atr.label}} {{atr.mod}}"> {{key}}: </label> {{atr.value}}
					</span>
					<input type="text" name="data.atributos.{{key}}.value" value="{{atr.value}}" data-dtype="Number" title="{{atr.label}}" />
				{{/each}}
			</div>
			<hr>
				
			<div>
				{{#if editing}}
					<label style="width: 100%!important">Perícias <a class="item-control skill-create" title="Criar Perícia" data-tipo="pericia"><i class="fas fa-plus"></i> Nova</a></label> 
					<ol class="item-list flexrow">
						{{#each actor.data.periciasCustom as |skill key|}}
							<li class="flexrow skill-line" data-item-id="{{key}}" data-type="{{skill.type}}">
								<div class="item-name flexrow">
									<span class="skill rollable pericia-rollable" data-item-id="{{key}}" data-type="custom"><i class="fas fa-dice-d20"></i></span>
									<input type="text" name="data.periciasCustom.{{key}}.label" value="{{skill.label}}" class="flex2" data-dtype="String"/>
									<input type="text" name="data.periciasCustom.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
								</div>
								<div class="item-controls">
									<a class="item-control skill-delete" data-item-id="{{key}}" data-type="custom" title="Excluir"><i class="fas fa-trash"></i></a>
								</div>
							</li>
						{{/each}}
					</ol>
				{{else}}
					<label>Pericias: </label>
						{{#each actor.data.periciasCustom as |skill key|}}
						<span class="skill rollable pericia-rollable" data-item-id="{{key}}" data-type="custom">
							{{skill.label}} +{{skill.value}};
						</span>
						{{/each}}
					
				{{/if}}

			</div>
			<div class="npc-line">
				<label>Equipamento: </label>
				{{data.equipament}}
				<input type="text" name="data.equipament" value="{{data.equipament}}" data-dtype="String" title="Equipamentos" />
			</div>
			<div class="npc-line">
				<label>Tesouro: </label>
				{{data.treasure}}
				<input type="text" name="data.treasure" value="{{data.treasure}}" data-dtype="String" title="Tesouro" />
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			<div class="flexrow flex-between">
				<div style="max-width: 220px;">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
					width="200" />
				</div>

				{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
			</div>
		</div>

	</section>
</form>
