<header class="sheet-header flexrow">
	{{#if (eq item.type "magia")}}
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details flexcol">
		<h1 class="charname" style="margin: 0;">
			<input name="name" type="text" value="{{item.name}}" placeholder="Nome"/>
		</h1>
		<footer>
			<label style="font-size: 11px">{{data.tipo}} {{data.circulo}} ({{data.escola}})</label>
		</footer>
	</div>
	<aside style="text-align: right; flex: 0 80px;">
		<h2>{{data.custo}} PM</h2>
	</aside>
	{{else if (eq item.type "arma")}}
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details flexcol">
		<h1 class="charname" style="margin: 0;">
			<input name="name" type="text" value="{{item.name}}" placeholder="Nome"/>
		</h1>
		{{#if (eq item.type "arma")}}
		<footer>
			<label style="font-size: 11px">{{lookup config.weaponTypes data.tipoUso }} — {{#if data.propriedades.ataqueDistancia}}Ataque à Distância ({{data.alcance}}){{else}}Corpo a Corpo{{/if}} — {{#if data.propriedades.duasMaos}}Duas Mãos{{else}}{{#if data.propriedades.leve}}Leve{{else}}Uma Mão{{/if}}{{/if}}</label>
		</footer>
		{{/if}}
	</div>
	<aside style="text-align: right; flex: 0 80px;">
		{{#if data.custo}}<h2>{{data.custo}} PM</h2>{{/if}}
	</aside>
	{{else}}
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details flexrow">
		<h1 class="charname">
			<input name="name" type="text" value="{{item.name}}" placeholder="Nome"/>
		</h1>
		{{#if (eq item.type "arma")}}
		<footer>
			<label style="font-size: 11px">{{lookup config.weaponTypes data.tipoUso }}</label>
		</footer>
		{{/if}}
	</div>
	<aside style="text-align: right; flex: 0 80px;">
		{{#if data.custo}}<h2>{{data.custo}} PM</h2>{{/if}}
	</aside>
	{{/if}}
</header>
